## Other
# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# dotenv environment variables file
.env
.env.test

# editors
*.sublime-*
*.swp

## JavaScript
# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn
.yarn-integrity

# Custom
build

