<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom Slack Gifs</title>
    <link rel="stylesheet" href="./bulma.min.css">
    <style>
      .navbar-brand h1, .navbar-brand h2 {
        color: #fff;
      }
    </style>
  </head>
  <body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top is-link" style="background-color: #026e7b;" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/bartlett-slack-gifs/">
            <h1 class="title is-1">Custom Slack Gifs</h1>
          </a>

          <a class="navbar-item" href="/bartlett-slack-gifs/">

            <h2 class="subtitle is-2">Usage: /jarvis [search terms]</h2>
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light" href="https://github.com/ian-wag/bartlett-slack-gifs/" target="_blank">
                GitHub
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        {{ gifs }}
      </div>
    </section>
  </body>
</html>
