<style>
  ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  ul li {
    display: block;
    position: relative;
    max-width: 25%;
    margin: 10px;
    flex-shrink: 1;
    flex-basis: 0;
    flex: 1 0 21%;
  }

  img {
    width: 100%;
  }
</style>

<h2 class="title is-2">Available Gifs</h2>

{{#each categories}}
  <h3 class="title is-3">{{titleize @key}}</h3>

  {{#each this}}
    <h3 class="subtitle is-3">{{titleize @key}}</h3>
    <ul>
      {{#each this}}
      <li>
        <h4>{{titleize name}}</h4>
        <img src="./{{path}}" />
      </li>
      {{/each}}
    </ul>
  {{/each}}
{{/each}}
